
{% extends 'partial/base.html' %}

    {% block nav %}

    {% endblock %}

    {% block content %}

            <h1 class="text-center text-capitalize fs-1 m-4"> Reviews</h1>
            <hr>

         <form action="" method="post">
             {% csrf_token %}
             {% if request.user.is_authenticated %}
                 <p><input type="submit" class="btn btn-danger" value="Delete"></p>
              {% endif %}

             {% for review in reviews %}

                    <div class="card my-3 text-bg-success ">
                      <div class="card-body">
                        <h5 class="card-title   p-1 text-warning bg-dark text-md fst-italic">{{ review.user }}</h5>
                        <p>{{ review.rating }}</p>
                      </div>
                    </div>

            {% endfor %}


                </form>


                {% if is_paginated %}
                    {% include 'partial/pagination.html' %}
                {% endif %}



    {% endblock %}


